/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #009688;
  --error: #e7195a;
}

body {
  background: #B2DFDB;
  margin: 0;
  font-family: "Poppins";
}

header {
  background: #fff;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;


  align-items: center;
  justify-content: space-between;
}

header {
  color: #009688;
  text-decoration: none;
  text-align: center;

}

h2 {
  color: #009688;
  text-decoration: none;

}

h4 {
  color: #00796b;
  text-decoration: none;

}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

.Medicine-details {
  background: #01a79633;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.Medicine-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.Medicine-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.Medicine-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.registration-button {
  background-color: #009688;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  font-size: 16px;
}

.registration-button:hover {
  background-color: #45a049;
}

button {
  background-color: #009688;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  font-size: 16px;
}

.Medicine-details {
  border-bottom: 1px solid #009688;
  /* Adds a border between rows */
  /* OR */
  margin-bottom: 10px;
  /* Adds margin between rows */
}

/* HANA SHIT*/
/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}

body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}

header {
  background: #fff;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* admin page */
.admin {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

.admins {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.admins h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.admins p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.admins span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* new add admin form */
label,
input {
  display: block;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}